@page
@model WebApplication3.Pages.ChangePasswordModel
@{
	<head>
		<script type="text/javascript">

			function validate() {
				var password = document.getElementById('tb_password').value;
				var complexityStatus = "";
				var score = checkPassword(password);

				switch (score) {
					case 1:
						complexityStatus = "Very Weak";
						break;
					case 2:
						complexityStatus = "Weak";
						break;
					case 3:
						complexityStatus = "Medium";
						break;
					case 4:
						complexityStatus = "Good";
						break;
					case 5:
						complexityStatus = "Very Good";
						break;
				}

				document.getElementById('lbl_pwdchecker').innerHTML = "Password Strength: " + complexityStatus + " (Score: " + score + "/5)";

				if (score < 4) {
					document.getElementById('lbl_pwdchecker').style.color = "red";
				} else {
					document.getElementById('lbl_pwdchecker').style.color = "green";
				}
			}

			function checkPassword(password) {
				let score = 0;

				if (password.length >= 8) {
					score++;
				}

				if (/[a-z]/.test(password)) {
					score++;
				}

				if (/[A-Z]/.test(password)) {
					score++;
				}


				if (/\d/.test(password)) {
					score++;
				}


				const specialCharacters = "!#$%^&*()-_=+[]{}|;:'<>,.?/";
				if (Array.from(password).some(c => specialCharacters.includes(c))) {
					score++;
				}

				return score;
			}
		</script>
	</head>
	<h3>Login Form</h3>

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Reset Password </h1>

			<form method="post" enctype="multipart/form-data">
				<div asp-validation-summary="All" class="text-danger"></div>

				<div class="mb-3">
					<label class="form-label" asp-for="CModel.OldPassword">Password: </label>
					<input type="text" asp-for="CModel.OldPassword" class="form-control" />
					<span asp-validation-for="CModel.OldPassword" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="CModel.NewPassword">New Password</label>
					<div id="lbl_pwdchecker">Password Strength: None</div>
					<input type="Text" id="tb_password" asp-for="CModel.NewPassword" class="form-control" onkeyup="validate()" />
					<span asp-validaton-for="CModel.NewPassword" class="text-danger"></span>
				</div>


				<div class="mb-3">
					<label class="form-label" asp-for="CModel.ConfirmPassword">Confirm Password: </label>
					<input type="text" asp-for="CModel.ConfirmPassword" class="form-control" />
					<span asp-validation-for="CModel.ConfirmPassword" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Reset Password</button>
				</div>
			</form>
		</div>
	</div>
}
