@page
@model WebApplication3.Pages.PasswordResetModel
@{
	<head>
		<script type="text/javascript">

			function validate() {
				var password = document.getElementById('tb_password').value;
				var complexityStatus = "";
				var score = checkPassword(password);

				switch (score) {
					case 1:
						complexityStatus = "Very Weak";
						break;
					case 2:
						complexityStatus = "Weak";
						break;
					case 3:
						complexityStatus = "Medium";
						break;
					case 4:
						complexityStatus = "Good";
						break;
					case 5:
						complexityStatus = "Very Good";
						break;
				}

				document.getElementById('lbl_pwdchecker').innerHTML = "Password Strength: " + complexityStatus + " (Score: " + score + "/5)";

				if (score < 4) {
					document.getElementById('lbl_pwdchecker').style.color = "red";
				} else {
					document.getElementById('lbl_pwdchecker').style.color = "green";
				}
			}

			function checkPassword(password) {
				let score = 0;

				if (password.length >= 8) {
					score++;
				}

				if (/[a-z]/.test(password)) {
					score++;
				}

				if (/[A-Z]/.test(password)) {
					score++;
				}


				if (/\d/.test(password)) {
					score++;
				}


				const specialCharacters = "!#$%^&*()-_=+[]{}|;:'<>,.?/";
				if (Array.from(password).some(c => specialCharacters.includes(c))) {
					score++;
				}

				return score;
			}
		</script>
	</head>
    <h3>Login Form</h3>

    <div class="row justify-content-center align-items-center">

        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Reset Password </h1>

            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>


                <div class="mb-3">
                    <label class="form-label" asp-for="PModel.Password">Password: </label>
					<div id="lbl_pwdchecker">Password Strength: None</div>
					<input type="text" id="tb_password" asp-for="PModel.Password" class="form-control" onkeyup="validate()" />
                    <span asp-validation-for="PModel.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="PModel.ConfirmPassword">Confirm Password</label>
                    <input type="Text" asp-for="PModel.ConfirmPassword" class="form-control" />
                    <span asp-validaton-for="PModel.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="PModel.ResetToken">Paste Reset Token</label>
                    <input type="Text" asp-for="PModel.ResetToken" class="form-control" />
                    <span asp-validation-for="PModel.ResetToken" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
}
