@page
@model WebApplication3.Pages.errors.Custom403Model
@{
    ViewData["title"] = "No Authorization to access";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">403</h1>
    <p style="font-size: 50px; ">We couldn't find this page.</p>
    <p>
        Server refused to execute request, although it is in correct format. Server may or may not provide
        information why request is refused.
    </p>
    <p>Please navigate back to <a href="https://www.nyp.edu.sg/">NYP Website</a></p>
</div>